body{ 
    background-image: url(deserto.jpg);
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}

      *{
        margin: 0;
        padding: 0;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
    }
    
    h6{margin-bottom: 40px;
    margin-top: 30px;
    }
    
 h5 {text-indent: 30px;
     margin-left: 25px;
     margin-right: 25px;
     margin-top: 5px;
     line-height: 20px;
     }
     
    #cabecalho{
        height: 136px;
        width: 100%;
        margin: 0 auto;
        margin-top: 0px;
        background-image: url(backmen.jpg);
        position: fixed;
 }
    #cabecalhologo{
    height: 140px;
    width: 200px;
    margin-left: 10%;
    margin-top: 7px;
}
    #inicio{
    height: 136px;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(16, 39, 240);
 }

        #bodysite{
            height: 1900px;
            width: 1200px;
            background-color: rgba(22, 230, 230, 0);
        }



    #principal{
    width: 60%;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 5%;
    background-color: rgb(216, 215, 215);
    float: left;
    position: static;
    min-height: 100px;
    max-height: 15000px;
    
    
}
    #barra99{
        height: 60px;
        width: 100%;
        margin: 0 auto;
        margin-top: 0px;
        background-image: url(link.jpg);
    }
    #links{
        height: 60px;
        width: 1300px;
        margin: 0 auto;
        margin-top: 0px;
        background-image: url(link.jpg)
        }       
        .h-menu{
            width: 100%;
        }
        .h-menu ul{
            margin: 0px 0;
            padding: 0;
            background-image: url(link.jpg)
            
        }
        .h-menu li{
            display: inline;
            float: left;
            margin-left: 10px;
        }
        .h-menu li a{
            display: block;
            color: white;
            padding: 16px 16px;
            text-decoration: none;
            margin-left: 30px;
            font-size: 50%;
        }
        .h-menu li a:hover{
            background-color: rgba(151, 21, 211, 0.829);
         
        }
        .h-menu li.active{
            background-color: black;
        }
        #lado{
            height: 1150px;
            width: 250px;
            margin-top: 30px;
            background-color: rgba(255, 255, 255, 0);
            float: left;
            margin-left: 100px;
        }
            #links-2{
               height: 730px;
               width: 250px;
               background-color: rgba(255, 0, 204, 0.507);  

            }
            #propaganda2{
               height: 440px;
               width: 250px;
               margin-top: 10px;
               background-color: rgba(42, 150, 192, 0);  
            }

     #rodape{
         height: 100px;
         width: 100%;
         margin: 0px auto;
         margin-bottom: 10px;
         background-color: rgba(94, 109, 245, 0.486);
         clear: both;
     }
